In [8]:
import pandas as pd
data=pd.Series([5,6,7], index=[100, 200, 300])
data

100    5
200    6
300    7
dtype: int64

In [10]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [12]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [18]:
data = [{'a': i, 'b': 2 * i,'c':3*i}
        for i in range(3)]
pd.DataFrame(data)

   a  b  c
0  0  0  0
1  1  2  3
2  2  4  6

In [19]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [24]:
import numpy as np
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.699505  0.863215
b  0.017099  0.214467
c  0.154890  0.423979