In [2]:
#strings written with single qoutes or double qoutes '' and ""
mystring="hello"
print(mystring)

hello

In [6]:
#len() is a function to find the length of the string
a="hello all"
len(a)
#or
len("hello all")

9

In [7]:
mystring="hello world"
mystring

'hello world'

In [8]:
#indexing is used a assign indexes to the strings and grab any character with help of indexing
mystring[0]

'h'

In [10]:
mystring[5]
#note that index starts from 0 and whitespaces will also be counted hence 5th index value is whitespace

' '

In [12]:
#forwarding index starts from 0 but negative indexing starts with -1
mystring[-3]

'r'

In [13]:
#SLICING is grabbing a subsequence of a string i.e more than  one character
mystring="abcdefghijk"
mystring

'abcdefghijk'

In [14]:
mystring[2:]

'cdefghijk'

In [16]:
mystring[0:3]
#to get the desired subsequence n+1 term should also be considerd . As above to print 'abc' take indexing value upto d i.e 3
#that means go upto letter d but dont include d

'abc'

In [18]:
mystring[5:10]

'fghij'

In [22]:
mystring[::2]
#2 indicates step size

'acegik'

In [23]:
mystring[5:10:2]

'fhj'

In [25]:
mystring[::-1]
#reversing a string

'kjihgfedcba'

In [26]:
mystring[::-2]

'kigeca'

In [28]:
#STRING PROPERTIES AND METHODS 
#Strings are immuatable
name='xyz'
name[1]='g'
#so here strings cannot be updated i.e replace y by g

TypeError: 'str' object does not support item assignment

In [30]:
name='xyz'
lastname = name[1:] #if u want to replace x by some other character
lastname

'yz'

In [31]:
name='g'+lastname #concantination of the strings......replaces x by g
name              #updated name

'gyz'

In [33]:
#printing of multiple characters
letter='h'
letter=letter*6
print(letter)

hhhhhh

In [34]:
#error occurs if you try to concatinate a string with a number
2+3

5

In [36]:
'2'+'3' #23 is printed instead of 5.....so error..(so be carefull about '')

'23'

In [37]:
x="Hello world"
x.upper() #press tab and you will see all the attributes available on string objects

'HELLO WORLD'

In [39]:
x.lower()

'hello world'

In [40]:
x.upper

In [41]:
x.split()

['Hello', 'world']

In [43]:
x='Hi have a nice day'
x.split()            #by default split splits on whitespace but we can split however we want

['Hi', 'have', 'a', 'nice', 'day']

In [47]:
x='Hi have a nice day'
x.split('i')         #here i term i term is splitted

['H', ' have a n', 'ce day']

In [48]:
#sample programs and exercise
#https://www.w3resource.com/python-exercises/string/